.container {
  width: 100%;
  margin-inline: auto;
  @media (--screen-sm) {
    max-width: 640px;
  }
  @media (--screen-md) {
    max-width: 768px;
  }
  @media (--screen-lg) {
    max-width: 1024px;
  }
  @media (--screen-xl) {
    max-width: 1280px;
  }
  @media (--screen-2xl) {
    max-width: 1536px;
  }
}

.button {
  cursor: pointer;

  &.primary {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    display: flex;
    gap: 0.75rem;
    place-items: center;
    background-color: var(--accent);
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
    transition: background-color 0.2s, color 0.2s;
    line-height: 1.25;

    &:hover {
      background-color: var(--primary);
      color: var(--accent);
    }
  }

  &.link {
    color: var(--accent);

    &:hover {
      text-decoration: underline;
    }
  }
}

.section-header {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--primary-foreground);
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    height: 3rem;
    width: 1px;
    background-color: var(--accent);
    margin-inline: auto;
    margin-block: 1rem;
  }
}

.leading {
  font-size: 1.25rem;
  line-height: 1.125;
  max-width: 60ch;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 3rem;
  padding-inline: 3rem;

  & strong {
    color: var(--accent);
  }
}

.parallax {
  height: 100dvh;
  overflow: hidden;
}

.parallax-container {
  scroll-behavior: smooth;
  width: 100vw;
  height: 100dvh;
  margin: 0;
  perspective: 10px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;

  & > * {
    position: relative;
    scroll-margin-top: var(--header-height);
  }
}

.parallax-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  display: grid;
  grid-template-areas: "hero";

  &:before {
    content: "";
    grid-area: hero;
    height: calc(200vh);
    background-image: url("/assets/bg-hero.webp");
    background-size: cover;
    transform: translateZ(-10px) scale(2);
  }

  @media (--screen-sm) {
    &:before {
      height: 100%;
    }
  }
}

.jump-list {
  display: grid;
  column-gap: 4rem;
  padding-inline: 3rem;

  @media (--screen-md) {
    grid-template-columns: auto 1fr;
  }

  > nav {
    display: none;

    @media (--screen-md) {
      display: block;
    }

    & ul {
      position: sticky;
      top: calc(var(--header-height) + 2rem);

      @media (--screen-md) {
        text-align: right;
      }
    }
  }

  [role="region"] {
    grid-row: 1 / 2;
    grid-column: 1;
    display: grid;
    row-gap: 8rem;

    @media (--screen-md) {
      grid-column: 2 / 3;
    }
  }
}

.spotlight {
  position: relative;

  &:before {
    content: "";
    background-color: var(--primary);
    border-radius: 100%;
    width: 48%;
    height: 10%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px 100px var(--primary);
    left: 50%;
  }

  & > * {
    position: relative;
  }
}

dialog {
  background: var(--background);
  color: var(--foreground);
  border: 1px solid var(--accent);
  border-radius: 0.5rem;
  padding: 2rem;
  width: calc(100vw - 4rem);
  max-height: calc(100vh - 4rem);
  max-width: 80ch;
  margin-inline: auto;
  margin-block: 5vh;
  box-shadow: 0 0 1rem oklch(from var(--accent) l c h / 0.25);
  overflow-y: scroll;

  &::backdrop {
    backdrop-filter: blur(5px);
  }

  button[formmethod="dialog"] {
    position: sticky;
    top: 0;
    border-radius: 4px;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-content: center;
    column-gap: 0.5em;
    margin-left: auto;
    cursor: pointer;
    color: var(--accent);
    font-size: 1.5rem;

    &:before {
      content: "✕";
    }

    &:focus,
    &:hover {
      outline: none;
      text-shadow: 0 0 20px 5px var(--accent);
    }
  }
}

nav:has(ul[role="menubar"]) {
  --duration: 300ms;

  display: grid;

  &:focus,
  &:focus-within {
    position: fixed;
    inset: 0;
    row-gap: 1rem;
    padding-bottom: 1.75rem;
    height: 100dvh;
    width: 100vw;
    place-content: center;
    background: oklch(from var(--primary) l c h / 0.9);
    backdrop-filter: blur(5px);

    &:before {
      visibility: hidden;
    }

    @media (--screen-lg) {
      position: relative;
      height: auto;
      width: auto;
      row-gap: 0;
      justify-content: space-between;
      padding-bottom: 0;
      background: initial;
      backdrop-filter: none;
    }
  }

  @media (--screen-lg) {
    position: relative;
    top: initial;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
  }

  &:before {
    position: absolute;
    content: "\2261";
    top: 0;
    display: block;
    right: 1.5rem;
    font-size: 3rem;

    @media (--screen-lg) {
      display: none;
    }
  }

  @media (--screen-lg) {
    order: initial;
  }

  & ul {
    display: grid;
    transition: grid-template-rows 0s;

    &:is(nav:focus &, nav:focus-within &) {
      transition: grid-template-rows var(--duration);
    }

    & li {
      overflow: hidden;
    }
  }

  & [role="menubar"] {
    display: grid;
    grid-template-rows: repeat(6, 0fr);
    justify-items: center;

    &:is(nav:focus &, nav:focus-within &) {
      grid-template-rows: repeat(6, 1fr);
    }

    @media (--screen-lg) {
      grid-auto-flow: column;
      grid-template-rows: min-content;

      &:is(nav:focus &, nav:focus-within &) {
        grid-template-rows: min-content;
      }
    }

    & a {
      display: inline-block;
      padding-block: 0.5rem;
      font-size: 1.5rem;

      @media (--screen-lg) {
        font-size: 1rem;
        display: inline-block;
        padding-inline: 0.75rem;

        &:hover {
          color: var(--accent);
          background: oklch(from var(--primary) l c h / 0.5);
        }
      }
    }
  }

  & ul:not([role]) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 0fr;
    justify-content: start;
    alight-items: center;
    column-gap: 1rem;

    &:is(nav:focus &, nav:focus-within &) {
      grid-template-rows: 1fr;
    }

    @media (--screen-lg) {
      grid-template-rows: 1fr;

      &:is(nav:focus &, nav:focus-within &) {
        grid-template-rows: 1fr;
      }
    }

    & a {
      font-size: 1.75rem;
    }
  }

  & + button[aria-controls] {
    display: none;
    font-size: 3rem;

    &:is(nav:focus + &, nav:focus-within + &) {
      display: block;
      position: fixed;
      right: 1.5rem;

      @media (--screen-lg) {
        display: none;
      }
    }
  }
}

.tabbed-content {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  place-content: center;
  column-gap: 1rem;
  row-gap: 1rem;

  /* for offset */
  &:before { 
    content: " ";
    display: block;
    width: 100px;
    height: 1rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  [role="tab"] {
    grid-row: 1 / 2;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border: 1px solid var(--primary);
    border-radius: 0.25rem;
    cursor: pointer;

    &:has(+ :checked) {
      border-color: var(--accent);
      color: var(--accent);
    }
  }

  [type="radio"] {
    position: absolute;
    z-index: -999;

    &:checked + [role="tabpanel"] {
      grid-auto-rows: 1fr;
    }
  }

  [role="tabpanel"] {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    transition: grid-auto-rows 0.2s;


    &:not(:checked + &) {
      grid-auto-rows: 0fr;

      & > * {
        padding: 0 !important;
      }
    }

    & > * {
      overflow: hidden;
    }
  }
}

.led {
  --background: var(--background, --primary-foreground);
  --foreground: var(--foreground, --primary);
  display: inline-block;
  font-size: 0.75rem;
  color: var(--muted-foreground);

  &:before {
    content: "";
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin-right: 0.5rem;
    background: var(--background);
    border-radius: 50%;
    animation: glow 500ms infinite alternate;
  }
}

.led-destructive {
  --background: var(--destructive);
  --foreground: var(--destructive-foreground);
}

.led-warning {
  --background: var(--warning);
  --foreground: var(--warning-foreground);
}

.card {
  background: linear-gradient(
    45deg,
    oklch(from var(--foreground) calc(l + 0.05) c h / 0.02),
    oklch(from var(--accent) calc(l + 1) c h / 0.06)
  );
  padding-inline: 2rem;
  padding-block: 1.5rem;
  border-radius: 10px;
}

.svg-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.prose {
  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--foreground);
    margin-block: 1rem;
  }

  h5 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--foreground);
  }

  p {
    color: var(--muted-foreground);
    margin-block: 1rem;
  }

  ul {
    color: var(--muted-foreground);
    margin-block: 1rem;
    list-style: disc;
    list-style-position: inside;
  }
}
