@layer base, component, theme, utility;

@import "base.css" layer(base);
@import "theme.css" layer(theme);
@import "component.css" layer(component);
@import "utility.css" layer(utility);

@custom-media --screen-sm (min-width: 640px);
@custom-media --screen-md (min-width: 768px);
@custom-media --screen-lg (min-width: 1024px);
@custom-media --screen-xl (min-width: 1280px);
@custom-media --screen-2xl (min-width: 1536px);

.topbar {
  position: sticky;
  z-index: 10;
  width: 100%;
  transition-property: background-color, color;
  transition-duration: 500ms;
  top: 0;

  &:is(.scrolled &),
  &:has(nav:focus) {
    background-color: oklch(from var(--primary) l c h / 0.75);
    backdrop-filter: blur(10px);
  }

  .container {
    margin-inline: auto;
    padding-inline: 2rem;
    display: grid;
    height: var(--header-height);
    align-items: center;
    position: relative;

    @media (--screen-lg) {
      grid-template-columns: auto auto;
      align-items: center;
    }

    & > a {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      height: var(--header-height);

      & h1 {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}

.hero {
  & .container {
    margin-inline: auto;
    display: grid;
    place-content: center;
    padding-inline: 2rem;
    padding-block: 4rem;
    height: calc(100vh - var(--header-height));
    min-height: 110ch;

    @media (--screen-md) {
      min-height: 110ch;
    }

    @media (--screen-lg) {
      min-height: 70ch;
      max-height: 100ch;
      grid-template-columns: 1fr max-content;
      gap: 5%;
    }

    & > img {
      max-width: 100%;
      margin-inline: auto;
    }
  }

  & .hero-message {
    text-align: center;
    line-height: 1.25;

    @media (--screen-lg) {
      max-width: 70ch;
      text-align: left;
    }

    & p {
      margin-bottom: 1rem;
      font-size: 1.125rem;
      color: oklch(from var(--primary-foreground) calc(l - 0.2) c h);

      &:first-child {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--accent);
        margin-bottom: 1rem;
      }

      &:last-of-type {
        font-style: italic;
        font-size: 1rem;
      }

      & a {
        color: var(--accent);
        font-weight: 600;
        transition: color 0.2s;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 1rem;

      @media (--screen-md) {
        font-size: 4rem;
      }
    }

    & ul {
      display: inline-flex;
      flex-wrap: wrap;
      row-gap: 0.5rem;
      column-gap: 2rem;
      padding-inline: 0;
      margin-bottom: 2rem;
      place-content: center;
      font-size: 1.25rem;

      @media (--screen-md) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (--screen-lg) {
        grid-template-columns: 1fr;
        place-content: start;
      }

      & li {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 0.5rem;
        align-items: center;
        white-space: nowrap;
      }
    }

    & .button-group {
      display: grid;
      column-gap: 0.75rem;
      row-gap: 0.75rem;
      place-content: center;
      margin-bottom: 2rem;

      @media (--screen-md) {
        grid-auto-flow: column;
        grid-template-rows: min-content;
      }

      @media (--screen-lg) {
        place-content: start;
      }
    }
  }
}

.features {
  background-image: linear-gradient(
    to bottom,
    oklch(from var(--primary) calc(l - 0.06) c h),
    oklch(from var(--primary) calc(l - 0.06) c h) 75%,
    var(--background)
  );

  & .container {
    padding-block: 4rem;
  }

  h2 {
    padding-block: 4rem;
    margin-bottom: 3rem;
  }

  nav {
    a {
      color: var(--muted-foreground);
      display: block;
      padding-block: 0.5rem;

      &:hover {
        color: var(--accent);
        text-decoration: underline;
      }
    }
  }

  article {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    column-gap: 4rem;
    row-gap: 2rem;
    scroll-margin-top: calc(var(--header-height) + 2rem);
    color: var(--muted-foreground);
    align-items: center;

    @media (--screen-md) {
      justify-items: start;
    }

    @media (--screen-lg) {
      grid-template-columns: 350px 1fr;
    }

    @media (--screen-xl) {
      grid-template-columns: 500px 1fr;
    }

    @media (--screen-2xl) {
      grid-template-columns: auto 1fr;
    }

    & h4 {
      color: var(--foreground);
      font-size: 1.5rem;
      /* text-transform: uppercase; */
      font-weight: 600;
      line-height: 1.125;

      @media (--screen-xl) {
        font-size: 2rem;
      }
    }

    & > div {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-auto-flow: column;
      auto-flow-row: min-content;
      column-gap: 1rem;
      align-items: center;
      grid-template-rows: min-content min-content min-content;

      @media (--screen-lg) {
        grid-template-rows: min-content min-content min-content min-content;
        row-gap: 0.5rem;
      }

      img {
        grid-row: 1 / -1;

        @media (--screen-lg) {
          grid-row: auto;
        }
      }
    }

    img:not([alt=""]) {
      border: 1px solid oklch(from var(--accent) calc(l - 0.4) calc(c - 0.01) h);
      box-shadow: 0 0.4rem 1rem oklch(from var(--accent) l c h / 0.2);

      @media (--screen-lg) {
        grid-row: 1 / 2;
      }
    }
  }
}

.how-it-works {
  background: var(--background);

  & .container {
    padding-block: 4rem;
    padding-inline: 2rem;
  }

  h2 {
    padding-block: 1rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  article {
    display: grid;
    text-align: center;
    color: var(--muted-foreground);
    padding-block: 2rem;

    @media (--screen-lg) {
      font-size: 1.125rem;
      font-size: 1.125rem;
      line-height: 1.625rem;
      place-items: center;
      column-gap: 2rem;

      & > :not(:has(img)) {
        margin-top: 20%;
      }
    }

    &:nth-of-type(even) {
      @media (--screen-lg) {
        text-align: right;
        grid-template-columns: 3fr 2fr;
      }
    }

    &:nth-of-type(odd) {
      @media (--screen-lg) {
        & > :has(img) {
          order: 999;
        }

        text-align: left;
        grid-template-columns: 2fr 3fr;
      }
    }
  }

  p {
    text-wrap: balance;
  }

  a {
    color: var(--accent);
    text-decoration: underline;
  }
}

.protections {
  background: var(--background);
  color: var(--muted-foreground);

  .container {
    padding-block: 4rem;
  }

  section {
    display: grid;
    padding-inline: 1rem;
    gap: 1rem;

    @media (--screen-md) {
      grid-template-columns: 1fr 1fr;
    }

    @media (--screen-lg) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--foreground);
    line-height: 1.125;
  }

  article {
    /* border: 1px solid oklch(from var(--accent) calc(l - 0.5) c h); */
    padding: 2rem;
    border-radius: 0.5rem;
    background: oklch(from var(--foreground) l c h / 0.05);

    p {
      margin-bottom: 0.5rem;
    }

    a {
      color: var(--accent);

      &:after {
        content: "";
        background: url("/assets/external-link.svg");
        background-size: contain;
        margin-bottom: -2px;
        vertical-align: baseline;
        width: 1em;
        height: 1em;
        display: inline-block;
        margin-left: 0.25em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.scams {
  background: var(--background);
  color: var(--muted-foreground);

  & .container {
    padding-block: 4rem;
    max-width: 100vw;
  }

  & .leading {
    margin-bottom: 4rem;
  }

  .cards {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2rem;
    overflow-x: scroll;
    padding-inline: 2rem;
    margin-bottom: 4rem;
  }

  .led {
    margin-bottom: 3rem;
  }

  .card {
    width: 80%;
    min-width: 30ch;
    max-width: 40ch;
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;

    & strong {
      color: var(--foreground);
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.4rem;
    }

    & button {
      color: var(--accent);
      outline: none;
      cursor: pointer;
      padding-inline: 1rem;
      padding-block: 0.5rem;
      border: 1px solid oklch(from var(--primary) calc(l + 0.1) c h);
      border-radius: 0.25rem;
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: min-content min-content;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;
      white-space: nowrap;

      &:hover {
        background: oklch(from var(--accent) l c h / 0.1);
      }
    }

    & p {
      margin-bottom: 1rem;
    }
  }

  .community-call {
    max-width: 60ch;
    margin-inline: auto;
    text-align: center;
    padding-inline: 2rem;
    
    p {
      margin-bottom: 1rem;
    }

    & a {
      display: inline-block;
      background: var(--accent);
      color: var(--primary);
      padding-inline: 1.5rem;
      padding-block: 0.75rem;
      font-weight: 600;
      transition: color 0.2s;
      border-radius: 0.25rem;

      &:hover {
        background: var(--primary);
        color: var(--accent);
      }
    }
  }
}

.products {
  background: var(--primary);
  color: var(--muted-foreground);

  .container {
    padding-block: 8rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  section {
    display: grid;
    padding-inline: 1rem;
    gap: 1rem;

    @media (--screen-sm) {
      grid-template-columns: 1fr 1fr;
    }

    @media (--screen-lg) {
      gap: 1rem;
    }
  }

  article {
    display: grid;
    padding: 2rem;
    border-radius: 0.5rem;
    background: oklch(from var(--foreground) l c h / 0.05);

    @media (--screen-lg) {
      grid-template-columns: auto 1fr;
      grid-template-rows: min-content min-content min-content;
      grid-auto-flow: column;
      align-items: center;
      column-gap: 1rem;
    }

    img {
      max-width: 100px;
      margin-bottom: 0.5rem;

      @media (--screen-lg) {
        max-width: 80px;
        grid-row: 1 / 4;
        margin-bottom: 0;
      }
    }

    h4 {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--foreground);
      line-height: 1;
    }

    & > :has(a) {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1rem;
    }

    a {
      color: var(--accent);

      &:after {
        content: "";
        background: url("/assets/external-link.svg");
        background-size: contain;
        margin-bottom: -2px;
        vertical-align: baseline;
        width: 1em;
        height: 1em;
        display: inline-block;
        margin-left: 0.25em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.about-us {
  background: var(--background);
  color: var(--muted-foreground);

  .container {
    padding-block: 8rem;

    h2 {
      margin-bottom: 2rem;
    }

    strong {
      color: var(--accent);
      font-weight: 600;
    }
  }

  section {
    display: grid;

    @media (--screen-lg) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5%;
    }
  }

  figure {
    text-align: center;
    display: grid;
    justify-items: center;
    padding-block: 2rem;

    @media (--screen-lg) {
      padding-block: 0;
    }

    img {
      border-radius: 50%;
      margin-bottom: 1rem;
      max-width: 240px;
      border: 10px solid var(--primary);
      transition: all 1s;
    }

    p {
      margin-bottom: 0.5rem;
    }

    p:first-of-type {
      color: var(--foreground);
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      margin-inline: auto;
      padding: 0.5rem;

      &:has(svg) {
        border: 1px solid;
        border-radius: 5px;
      }

      &:hover {
        color: var(--accent);

        & > img {
          border-color: var(--accent);
        }

        &:has(svg) {
          border: 1px solid var(--accent);
        }
      }
    }
  }
}

body > footer {
  background: var(--primary);
  padding-inline: 2rem;
  padding-block: 2rem;

  .container {
    text-align: center;
  }

  button {
    text-decoration: underline;
    color: var(--accent);
    text-underline-offset: 0.2em;

    &:hover {
      color: var(--accent);
    }
  }
}

.privacy-policy-statement {
  color: var(--muted-foreground);

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--foreground);
  }

  h3 {
    font-size: 1.5rem;
    color: var(--foreground);
  }

  p {
    margin-bottom: 1rem;
  }
}
